<div id="<%= dom_id item %>">
  <p>
    <strong>Title:</strong>
    <%= item.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Start price:</strong>
    <%= number_to_currency(item.start_price) %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= item.end_time %>
  </p>

  <p>
    <strong>Blind Auction?</strong>
    <%= item.blind_auction %>
  </p>

</div>
