<p style="color: green"><%= notice %></p>

<h1><%= @item.title %></h1>
<p><%= @item.description %></p>

<% if @item.blind_auction %>
  <% if @item.end_time > Time.now  %>
    <div>blind auction is still ongoing. check back after <%= @item.end_time %></div>
  <% else %>
    <% if @winning_bid.nil? %>
      <div>
        No bids placed.
      </div>
    <% else %>
      <div>
        Winning bid of <%= @winning_bid.amount %> by <%= @winning_bid.email %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <h3>Bids</h3>
  <ul>
    <% @bids.each do |bid| %>
      <li><%= bid.amount %> by <%= bid.user.email %></li>
    <% end %>
  </ul>
<% end %>

<h2>Place a Bid</h2>
<p>Min bid: <%= number_to_currency(@item.start_price) %></p>
<%= form_with(model: [@item, @bid], local: true) do |form| %>
  <div class="field">
    <%= form.label :amount, "Bid Amount" %>
    <%= form.number_field :amount, step: 0.01, min: @item.start_price %>
  </div>

  <div class="actions">
    <%= form.submit "Place Bid" %>
  </div>
<% end %>

<div>
  <%= link_to "Edit this item", edit_item_path(@item) %> |
  <%= link_to "Back to items", items_path %>

  <%= button_to "Destroy this item", @item, method: :delete %>
</div>
